body {
  font-family: Arial, sans-serif;
  background-color: rgb(5, 15, 65);
}

.task-manager {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background-color: rgba(61, 77, 157, 0.6);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}

.task-manager h1 {
  text-align: center;
}

.task-form input,
.task-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-manager .priority-selection {
  display: flex;
  gap: 10px;
  margin-left: 5px;
  width: 100%;
}

.task-manager .priority-selection .radio:hover {
  background-color: black;
  color: white;
}

.task-manager .priority-selection .radio {
  margin: 0 auto;
}

.high{
  color: red;
  text-transform: capitalize;
}
.medium {
  color: orange;
  text-transform: capitalize;
}
.low {
  color: green;
  text-transform: capitalize;
}

.task-form button {
  width: 100%;
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: rgb(160, 44, 44);
}

.task-show {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.task-show .search {
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.task-show input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#taskList {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  gap: 20px;
  margin: 0 auto;
  align-items: center;
}

.task-list-card{
  width: 80%;
  min-height: 140px;
  margin: auto;
  padding: 30px;
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
  border-radius: 8px;
  color: #2c3e50;
}
.task-list-high{
  border-top: 5px solid red;
}
.task-list-medium {
  border-top: 5px solid orange;
}
.task-list-low {
  border-top: 5px solid green;
}

.task-list-card h2{
  font-size: 1.8rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.dueDate{
  color:grey;
  font-size: 10px;
  text-decoration: underline;
  float: right;
  margin-top: -5%;
}

.assigned{
  font-size: 10px;
  text-transform: uppercase;
}
.description{
  margin-top: 10px;
  font-size: 0.8rem;
  margin-top: 0;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10%;
}
.editTaskBtn{
  width: 40%;
  padding: 10px;
  background-color: rgb(5, 32, 58);
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 0;
  cursor: pointer;

}

.deleteTaskBtn{
  width: 40%;
  padding: 10px;
  background-color: rgb(238, 11, 98);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;

}
